body{
    background-color: rgb(107, 215, 241);
}
header{
    background-color: black !important;
    border: 2px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
header img{
    padding: 25px;
}
nav{
    background-color: rgb(187, 142, 224);
    border: 2px solid blue;
    border-radius: 22px;
}
nav p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: 40px;
}
section{
    
}